.Categories {
    display: flex;
    flex-direction: column;
    width: 200px;
}
.CategoriesTitle {
    font-size: 32px;
}
.Category {
    font-size: 24px;
    margin: 5px 0;
    color: #aaa;
    text-decoration: none;
}
.Category:hover {
    color: #fff;
}
.CategoryA{
    color: #fff;
}