.NavBar{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.HiddenBar{
    display: flex;
    max-height: 0;
    overflow: hidden;
}
.NavBarElement {
    text-decoration: none;
    margin: 0 15px;
    height: fit-content;
}
.NavIcon {
    width: 100px;
    transition: 0.7s;
}
.NavIcon:hover {
    transform: scale(1.2);
}
.LogoImg {
    width: 150px;
}
.Logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 26px;
}